article{
	footer{
		@include box-shadow();
		padding:0.5rem 0 0.5rem 0.8rem;
		@include clearfix;
		@include font-size(0.7);
		font-style: italic;

		.user-picture{
			float: left;
			margin-right: 0.8rem;
			img{
				width: 35px;
				height: 40px;
			}	
		}

		.submitted{

		}
	}
	.print-link {
		width: 50%;
		float: right;
	}

	.field--type-taxonomy-term-reference{
		width: 50%; 
	}

	.field--name-field-image{
		img {
			width: 100%;
		}
		margin-bottom: 1.5rem;
	}

	.field--name-body {
		margin-bottom: 2rem;
	}

}

.view-search-index{
	@include font-size(0.8);
	table{

		margin: 1rem 0 1.5rem 0;
		width: 100%;
		
		th{
			padding: 0.5rem 0 0.5rem 0.5rem;
			background: rgba(74, 119, 170, 0.5);
			@include font-size(0.7);
		}

		th:first-child {
			@include border-radius-separate(5px, 0, 0, 0);
		}

		th:last-child {
			@include border-radius-separate(0, 5px, 0, 0);
		}

		td {
			padding: 0.5rem 0 0.5rem 0.3rem;
			a{
				text-decoration: underline;
				@include transition(all, .3s, ease-in);

			}

			a:hover{
				text-decoration: none;
				@include text-shadow;
			}
		}
		td.active{
			background: none !important;
			color: maroon;
			border-right: 1px solid black;
			border-left: 1px solid black;
		}

		tr.odd{
			background: #EEEEEE;
		}

		tr.even{
			background-color: white;
		}

		td.views-field-body-value{
			display: none;
		}
	}

	#edit-search-api-views-fulltext-wrapper{
		.description {
			@include font-size(0.7);
			@include text-shadow;
		}
	}
}




/********************SMALL TABLET*******************************/

@include breakpoint($stablet, true){

	article{

	}
}


/********************TABLET*******************************/
@include breakpoint($tablet, true){

	article{

	}

	.view-search-index{
		table{
			td.views-field-body-value{
				display: visible;
			}
		}
	}
}


/******************** DESKTOP *******************************/
@include breakpoint($desktop, true){
	article{

	}	
}