article{
	footer{
		@include box-shadow();
		padding:0.5rem 0 0.5rem 0.8rem;
		@include clearfix;
		@include font-size(0.7);
		font-style: italic;

		.user-picture{
			float: left;
			img{
				width: 35px;
			}	
		}

		.submitted{

		}
	}
	.print-link {
		width: 50%;
		float: right;
	}

	.field--type-taxonomy-term-reference{
		width: 50%; 
	}

	.field--name-field-image{
		img {
			width: 100%;
		}
	}

	.field--name-body {
		margin-bottom: 2rem;
	}

}


/********************SMALL TABLET*******************************/

@include breakpoint($stablet, true){

	article{

	}
}


/********************TABLET*******************************/
@include breakpoint($tablet, true){

	article{

	}
}


/******************** DESKTOP *******************************/
@include breakpoint($desktop, true){
	article{

	}	
}